//fonts
$font-primary: 'Baloo 2', serif;
$font-second:'Mulish', serif;
$font-third:'Comic Neue', serif;

//colors
$azul-magenta: #7F00FF;
$pinkish-purple: #E100FF;
$dark-gray: #4F4F4F;
$background-page: #C0B5BC;
$background-page2:#9e9e9e;
$background-page3:#DCDCDC;
$Aqua-cyan: #00FFFF;