//fonts
$font-primary: 'Baloo 2', serif;
$font-second:'Mulish', serif;
$font-third:'Comic Neue', serif;

//colors
$azul-magenta: #7F00FF;
$pinkish-purple: #E100FF;
$dark-gray: #4F4F4F;
$background-page: #c2c2c2;
$background-page2:rgba(238, 229, 229, 0.98);
$background-page3:#DCDCDC;
$Aqua-cyan: #00FFFF;